[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
chess = "*"
cairosvg = "*"
gtts = "*"
playsound = "*"
pyside6 = "*"
pytorch-lightning = "*"
torchdata = "*"
pycocotools = "*"
labelme2coco = {editable = true, ref = "4ed43e6b2e89331a295157eb910dd7a3b2c4f64a", git = "https://github.com/ierror/labelme2coco.git"}
lightning = "*"
torchvision = "*"
albumentations = "*"
pyobjc = {version = "*", sys_platform = "== 'darwin'"}
python-dateutil = "*"
imutils = "*"
qimage2ndarray = "*"

[dev-packages]
flake8-pyproject = "*"
isort = "*"
black = {extras = ["jupyter"], version = "*"}
jupyterlab = "*"
imagehash = "*"
google-api-python-client = "*"
ipyplot = "*"
wandb = "*"
ipywidgets = "*"

[requires]
